*.parquet filter=lfs diff=lfs merge=lfs -text
datafusion_opp_and_my_pipe/**/*.npz filter=lfs diff=lfs merge=lfs -text
datafusion_opp_and_my_pipe/**/*.cbm filter=lfs diff=lfs merge=lfs -text
datafusion_opp_and_my_pipe/**/*.lgm filter=lfs diff=lfs merge=lfs -text
datafusion_opp_and_my_pipe/**/*.parquet filter=lfs diff=lfs merge=lfs -text
datafusion_opp_and_my_pipe/**/*.npy filter=lfs diff=lfs merge=lfs -text
datafusion_opp_and_my_pipe/**/*.pt filter=lfs diff=lfs merge=lfs -text
