addict==2.4.0
aiofile==3.9.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
altair==5.5.0
annotated==0.0.2
annotated-doc==0.0.4
arxiv==2.2.0
asttokens==3.0.1
async-lru==2.0.5
asyncio==4.0.0
attrs==25.4.0
audioread==3.1.0
Authlib==1.6.8
av==16.0.1
backports.tarfile==1.2.0
beartype==0.22.9
bitsandbytes==0.48.2
bleach==6.2.0
boxmot==15.0.10
build==1.2.2.post1
CacheControl==0.14.2
cachetools==6.2.0
caio==0.9.25
catboost==1.2.10
cfgv==3.5.0
clearml==2.0.2
clearml-mcp==0.3.0
cleo==2.1.0
comet_ml==3.49.0
comm
commonmark==0.9.1
configobj==5.0.9
contourpy==1.3.3
coverage==7.13.1
crashtest==0.4.1
cycler==0.12.1
cyclopts==4.6.0
dataclasses-json==0.6.7
datasets==4.0.0
debugpy==1.8.13
decorator==5.2.1
decord==0.6.0
deprecation==2.1.0
diffusers==0.35.2
dill==0.3.8
distlib==0.4.0
dmidecode==0.9.0
dnspython==2.8.0
docstring_parser==0.17.0
docutils==0.22.4
dotenv==0.9.9
drjit==1.2.0
duckdb==1.4.2
dulwich==0.22.8
einops==0.8.1
email-validator==2.3.0
et_xmlfile==2.0.0
evaluate==0.4.6
everett==3.1.0
exceptiongroup==1.3.1
executing==2.2.1
facexlib==0.3.0
faiss-gpu-cu12==1.10.0
fastapi==0.123.4
fastjsonschema==2.21.1
fastmcp==3.0.2
feedparser==6.0.11
ffmpy==1.0.0
filetype==1.2.0
filterpy==1.4.5
findpython==0.6.3
fire==0.7.1
fonttools==4.61.0
frozenlist==1.8.0
ftfy==6.3.1
furl==2.1.4
future==1.0.0
gdown==5.2.0
gigachat==0.1.43
GitPython==3.1.45
gradio==5.45.0
gradio_client==1.13.0
graphviz==0.21
groovy==0.1.2
grpcio==1.76.0
h2==4.3.0
hf_transfer==0.1.9
hjson==3.1.0
hpack==4.1.0
httpx-sse==0.4.1
hyperframe==6.1.0
icecream==2.1.8
identify==2.6.15
ImageHash==4.3.1
imageio-ffmpeg==0.6.0
iniconfig==2.3.0
installer==0.7.0
ipykernel
ipython==9.0.2
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jiwer==4.0.0
joblib
json5==0.10.0
jsonpatch==1.33
jsonref==1.1.0
jsonschema-path==0.4.4
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter_client==8.6.3
jupyter_core
jupyter_server==2.15.0
jupyterlab==4.3.6
keyring==25.6.0
kiwisolver==1.4.9
langchain==0.3.27
langchain-classic==1.0.0
langchain-community==0.3.31
langchain-core==0.3.80
langchain-gigachat==0.3.12
langchain-mcp-adapters==0.1.9
langchain-text-splitters==0.3.11
langgraph==0.6.4
langgraph-checkpoint==2.1.1
langgraph-prebuilt==0.6.4
langgraph-sdk==0.2.0
langsmith==0.4.13
lapx==0.9.2
lazy_loader==0.4
Levenshtein==0.27.3
librosa==0.11.0
lightning-utilities==0.14.1
-e git+https://github.com/hiyouga/LLaMA-Factory.git@948aecf8740fe57a89d178dc63a05475bca8f14b#egg=llamafactory
lmdb==1.7.5
loguru==0.7.3
Markdown==3.10
marshmallow==3.26.1
matplotlib==3.10.8
matplotlib-inline
mcp==1.26.0
mistune==3.1.2
ml_dtypes==0.5.4
multidict==6.7.0
multiprocess==0.70.16
mypy_extensions==1.1.0
narwhals==2.6.0
nats-py==2.14.0
nbclient==0.10.2
nbconvert==7.16.6
nest_asyncio
ninja==1.13.0
nltk==3.9.2
norfair==2.1.1
notebook==7.0.6
numpy==2.4.2
omegaconf==2.3.0
onnx==1.20.0
onnx-ir==0.2.0
onnxscript==0.6.2
openai-clip==1.0.1
openapi-pydantic==0.5.1
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opentelemetry-api==1.39.1
orderedmultidict==1.0.2
orjson==3.11.1
ormsgpack==1.10.0
packaging==26.0
pandas
pandas-stubs==2.2.3.241126
pandoc==2.4
parso==0.8.4
pathable==0.5.0
pathlib2==2.3.7.post1
pbs-installer==2025.3.17
peft==0.17.1
pexpect
pi_heif==1.1.1
pika==1.3.2
pillow==12.1.1
pillow-avif-plugin==1.5.2
pkginfo==1.12.1.2
platformdirs
plotly==6.5.0
plumbum==1.10.0
ply==3.11
poetry==2.1.1
poetry-core==2.1.1
polars==1.35.2
polars-runtime-32==1.35.2
pooch==1.8.2
portalocker==3.2.0
postgrest==2.24.0
pre_commit==4.5.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.4.1
protobuf==6.33.5
proxy.py==2.4.10
psutil
ptflops==0.6.9
ptyprocess==0.7.0
pure_eval
py-cpuinfo==9.0.0
py-key-value-aio==0.4.4
pyaes==1.6.1
pyarrow==22.0.0
pyasn1==0.6.1
pydantic==2.12.5
pydantic-settings==2.10.1
pydantic_core==2.41.5
pydeck==0.9.1
pydub==0.25.1
Pygments==2.19.2
pyiqa==0.1.14.1
PyJWT==2.10.1
pyparsing==3.2.5
PyPDF2==3.0.1
pyperclip==1.11.0
pyproject_hooks==1.2.0
PySocks==1.7.1
pytest==9.0.1
pytest-cov==7.0.0
python-box==6.1.0
python-dateutil
python-dotenv==1.1.1
python-json-logger==3.3.0
python-Levenshtein==0.27.3
python-multipart==0.0.22
pytz==2025.2
PyWavelets==1.8.0
pyzmq==26.3.0
qdrant-client==1.16.1
qudida==0.0.4
RapidFuzz==3.12.2
realtime==2.24.0
referencing==0.36.2
reportlab==4.4.10
requests-toolbelt==1.0.0
rich-rst==1.3.2
roboflow==1.2.11
rouge-chinese==1.0.3
rsa==4.9.1
ruff==0.14.7
sacrebleu==2.5.1
safehttpx==0.1.7
safetensors==0.7.0
schedule==1.2.2
scikit-learn==1.8.0
scikit-video==1.1.11
scipy==1.17.1
semantic-version==2.10.0
sentence-transformers==5.1.2
sentencepiece==0.2.1
sentry-sdk==2.47.0
sgmllib3k==1.0.0
shtab==1.8.0
simplejson==3.20.1
simsimd==6.2.1
six
sniffio==1.3.1
soundfile==0.13.1
soxr==1.0.0
sse-starlette==3.0.2
stack_data
starlette==0.50.0
storage3==2.24.0
streamlit==1.50.0
StrEnum==0.4.15
stringzilla==3.12.3
supabase==2.24.0
supabase-auth==2.24.0
supabase-functions==2.24.0
supervision==0.27.0
tabulate==0.9.0
tavily-python==0.7.10
Telethon==1.42.0
tensorboard==2.20.0
termcolor==3.2.0
thop==0.0.31.post2005241907
threadpoolctl
tiktoken==0.8.0
tinycss2==1.4.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
traitlets
trl==0.9.6
trove-classifiers==2025.3.19.19
typer-slim==0.20.0
types-python-dateutil==2.9.0.20241206
types-pytz==2025.2.0.20250326
types-requests==2.32.4.20250913
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tyro==0.8.14
ultralytics-thop==2.0.18
uuid_utils==0.12.0
uvicorn==0.35.0
validators==0.34.0
verovio==4.5.1
virtualenv==20.35.4
watchdog==6.0.0
watchfiles==1.1.1
wcwidth
webcolors==24.11.1
websockets==15.0.1
Werkzeug==3.1.4
wrapt==1.17.2
wurlitzer==3.1.1
xgboost
xlrd==2.0.2
xxhash==3.6.0
yacs==0.1.8
yarl==1.22.0
zstandard==0.23.0